<div class="form-container">
  <div class="form-box-s">
    <%= render "shares/error_messages", resource: @new_approval %>
    <h4 class="form-title">承認</h4>
    <h4>招待するユーザー：<%= @user.name %></h4>
    <%= form_with(url: approvals_create_path, method: :post, local: true) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.select :permission_status, Approval.permission_statuses.keys, {prompt: "権限選択"}, class:"form-control fa"%>
      </div>
      <div class="form-group">
        <%= f.submit "承認", class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>