<div class="blank-header">
</div>
<div class="categories-container">
  <%= link_to approver_post_images_path do %>
    <div class="category-bar">
      <span>投稿一覧</span>
    </div>
  <% end %>
  <% @categories.each do |category| %>
    <%= link_to approver_post_images_by_category_path(@approver_user_id, category) do %>
      <div class="category-bar">
        <%= category.name %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="index-image-boxes-container">
  <% @post_images.each do |post_image| %>
      <div class="index-image-box">
        <%= link_to post_image_path(post_image) do %>
          <%= attachment_image_tag post_image, :image %>
        <% end %>
      </div>
  <% end %>
</div>
<div class="pager">
  <%= paginate @post_images %>
</div>
