<div class="container form-container">
  <div class="col-xs-8 col-xs-offset-2 form-box">
    <h4 class="form-title">配送先一覧</h4>
      <table class="table table-hover">
        <% @shippings.each do |shipping| %>
          <tr>
            <td><%= shipping.postal_code %></td>
            <td><%= shipping.address %></td>
            <td><%= shipping.receiver %></td>
            <td><%= shipping.phone_number %></td>
            <td>
              <%= link_to '編集', edit_shipping_path(shipping), class: "btn btn-default" %>
            </td>
            <td>
              <%= link_to '削除', shipping_path(shipping), method: :delete, class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      </table>
    <h4 class="form-title">新規作成</h4>
      <%= form_for(@new_shipping, url: shippings_path) do |f| %>
        <div class="form-group">
          <%= f.text_field :postal_code, class:"form-control fa", placeholder: "〒 郵便番号" %>
        </div>
        <div class="form-group">
          <%= f.text_field :address, class:"form-control fa", placeholder: "\uf3c5 住所" %>
        </div>
        <div class="form-group">
          <%= f.text_field :receiver, class:"form-control fa", placeholder: "\uf304 宛名" %>
        </div>
        <div class="form-group">
          <%= f.text_field :phone_number, class:"form-control fa", placeholder: "\uf3cd 電話番号" %>
        </div>
        <div class="form-group">
          <%= f.submit "保存", class:"btn btn-default" %>
        </div>
      <% end %>
  </div>
</div>