<div class="form-container">
  <div class="form-box">
    <%= render "shares/error_messages", resource: @new_shipping %>
    <h4 class="form-title">配送先一覧</h4>
      <table class="table table-hover">
        <% @shippings.each do |shipping| %>
          <tr>
            <td>
              <span>〒</span><%= shipping.postal_code.to_s.insert(3, "-") %><br>
              <%= shipping.address_city %><%= shipping.address_street %><%= shipping.address_building %><br>
              <%= shipping.receiver %><span>　様</span><br>
              <%= shipping.phone_number %>
            </td>
            <td>
              <%= link_to '編集', edit_shipping_path(shipping), class: "btn btn-default" %>
            </td>
            <td>
              <%= link_to '削除', shipping_path(shipping), method: :delete, class: "btn btn-default" %>
            </td>
          </tr>
        <% end %>
      </table>
    <h4 class="form-title">新規作成</h4>
      <%= form_for(@new_shipping, url: shippings_path) do |f| %>
        <div class="form-group">
          <%= f.text_field :postal_code, class:"form-control fa", id:"address_zipcode", placeholder: "〒 郵便番号（ハイフンなし・半角）" %>
        </div>
        <div class="form-group">
          <%= f.text_field :prefecture_code, class:"form-control fa", id: "address_prefecture_name", placeholder: "\uf3c5 都道府県" %>
        </div>
        <div class="form-group">
          <%= f.text_field :address_city, class:"form-control fa", id:"address_city", placeholder: "\uf3c5 市区町村" %>
        </div>
        <div class="form-group">
          <%= f.text_field :address_street, class:"form-control fa", id: "address_street", placeholder: "\uf3c5 番地" %>
        </div>
        <div class="form-group">
          <%= f.text_field :address_building, class:"form-control fa", id: "address_building", placeholder: "\uf1ad 建物名" %>
        </div>
        <div class="form-group">
          <%= f.text_field :receiver, class:"form-control fa", placeholder: "\uf304 宛名" %>
        </div>
        <div class="form-group">
          <%= f.text_field :phone_number, class:"form-control fa", placeholder: "\uf3cd 電話番号（ハイフンなし・半角）" %>
        </div>
        <div class="form-group">
          <%= f.submit "保存", class:"btn btn-default" %>
        </div>
      <% end %>
  </div>
</div>