<div class="all-post-comments-whitedisplay">
  <div class="close-btn">
    <%= link_to post_image_path(@post_image) do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="all-post-comments">
    <table class="table">
      <% @post_comments.each do |post_comment| %>
      <tr>
        <td><i class="fas fa-user"></i><span> </span><%= post_comment.user.name %></td>
        <td><i class="far fa-comment"></i><span> </span><%= post_comment.comment %></td>
        <% if post_comment.user_id == current_user.id %>
          <td><button><%= link_to "削除", post_image_post_comment_path(@post_image, post_comment), method: :delete, class:"btn btn-xs" %></button></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  <div class="pager">
  <%= paginate @post_comments %>
  </div>
  </div>
</div>