<div class="form-container">
  <div class="form-box">
    <% if flash[:danger] %>
      <div class="error-flash">
        <%= flash[:danger] %>
      </div>
    <% end %>
    <%= render "shares/error_messages", resource: @new_order %>
    <h4 class="form-title">支払い方法</h4>
      <%= form_with(url: orders_about_path, method: :get, local: true) do |f| %>
        <div class="form-group">
          <%= f.select :payment_method, Order.payment_methods.keys, {}, class:"form-control"%>
        </div>
    <h4 class="form-title">お届け先</h4>
        <div class="form-group">
          <%= f.radio_button :selected, :a, checked: true %><span>登録済みの住所から選択</span>
          <%= f.select :shipping_address, @user_shipping_addresses.map{ |user_shipping_address| [user_shipping_address.postal_code + user_shipping_address.prefecture_code + user_shipping_address.address_city + user_shipping_address.address_street + user_shipping_address.address_building + user_shipping_address.receiver + user_shipping_address.phone_number, user_shipping_address.id] }, {include_blank: "選択してください"}, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.radio_button :selected, :b %><span>新しいお届け先</span><br>
          <div class="form-group">
          <%= f.text_field :postal_code, class:"form-control fa", id:"address_zipcode", placeholder: "〒 郵便番号（ハイフンなし・半角）" %>
          </div>
          <div class="form-group">
            <%= f.text_field :prefecture_code, class:"form-control fa", id: "address_prefecture_name", placeholder: "\uf3c5 都道府県" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_city, class:"form-control fa", id:"address_city", placeholder: "\uf3c5 市区町村" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_street, class:"form-control fa", id: "address_street", placeholder: "\uf3c5 番地" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address_building, class:"form-control fa", id: "address_building", placeholder: "\uf1ad 建物名" %>
          </div>
          <div class="form-group">
            <%= f.text_field :receiver, class:"form-control fa", placeholder: "\uf304 宛名" %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone_number, class:"form-control fa", placeholder: "\uf3cd 電話番号（ハイフンなし・半角）" %>
          </div>
        </div>
    <h4 class="form-title">アルバム部数選択</h4>
        <div class="form-inline">
          <%= f.number_field :quantity, class: "form-control", in: 1..10 %>
        </div>
        <div class="form-group">
          <%= f.submit "確認画面へ進む", class:"btn btn-default" %>
        </div>
      <% end %>
  </div>
</div>