<div class="form-container">
  <div class="form-box">
    <h4 class="form-title">購入日時</h4>
    <div>
      <%= @order.created_at.to_s(:datetime_jp) %>
    </div>
    <h4 class="form-title">配送状況</h4>
    <div>
      <%= @order.order_status %>
    </div>
    <h4 class="form-title">支払い方法</h4>
    <div>
      <%= @order.payment_method %>
    </div>
    <h4 class="form-title">お届け先</h4>
      <div>
        <span>〒</span><%= @order.postal_code.to_s.insert(3, "-") %><br>
        <%= @order.address %><br>
        <%= @order.receiver %><span>　様</span><br>
        <%= @order.phone_number %>
      </div>
    <h4 class="form-title">ご注文写真</h4>
      <div class="order-images-container">
        <% @order_images.each do |order_image| %>
          <%= attachment_image_tag order_image, :image %>
        <% end %>
      </div>
    <h4 class="form-title">アルバム部数</h4>
      <div>
        <%= @order.quantity %><span>部</span>
      </div>
    <h4 class="form-title">送料</h4>
      <div>
        <%= @order.postage.to_s(:delimited) %><span>円</span>
      </div>
    <h4 class="form-title">ご請求合計</h4>
      <div>
        <%= @order.total.to_s(:delimited) %><span>円</span>
      </div>
  </div>
</div>