<div class="container form-container">
  <div class="col-xs-6 col-xs-offset-3 form-box">
    <%= render "shares/error_messages", resource: @new_post_image %>
    <h4 class="form-title">画像</h4>
      <%= form_for(@new_post_image, url: post_images_path) do |f| %>
        <div class="form-group">
          <%= f.attachment_field :image, id:"file" %>
          <div id="result"></div>
        </div>
        <div class="form-group">
          <%= f.select :category_id, @categories.map{ |category| [category.name, category.id]}, {prompt: "カテゴリー選択"}, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :introduction, size: "10x2", class:"form-control fa", placeholder: "\uf27a 紹介文" %>
        </div>
        <div class="form-group">
          <%= f.submit "投稿", class:"btn btn-default" %>
        </div>
      <% end %>
  </div>
</div>