<div class="whitedisplay">
  <div class="close-btn">
    <% if request.referer&.include?("/post_images/#{params[:id]}") %>
      <%= link_to post_images_path do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% else %>
      <%= link_to request.referrer do %>
        <i class="fas fa-times"></i>
      <% end %>
    <% end %>
  </div>
  <%= render "shares/error_messages", resource: @new_post_comment %>
  <div class="post-image-show">
    <%= attachment_image_tag @post_image, :image %>
  </div>
  <div class="image-detail">
    <span class="favorites-btn">
      <%= render "post_images/favorite", post_image: @post_image %>
    </span>
    <span class="comment-icn">
      <i class="far fa-comment"></i>
      <%= @post_image.post_comments.count %>
    </span>
    <!-- ↓コメント一覧のモーダルウィンドウ↓ -->
    <div class="post-comments-whitedisplay">
    <i class="fas fa-times post-comments-close"></i><br>
      <div class="post-comments">
        <table class="table">
          <% @post_comments.each do |post_comment| %>
          <tr>
            <td><i class="fas fa-user"></i><span> </span><%= post_comment.user.name %></td>
            <td><i class="far fa-comment"></i><span> </span><%= post_comment.comment %></td>
            <% if post_comment.user_id == current_user.id %>
              <td><button><%= link_to "削除", post_image_post_comment_path(@post_image, post_comment), method: :delete, class:"btn btn-default" %></button></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <!-- ↑コメント一覧のモーダルウィンドウ↑ -->
    <% if @post_image.user_id == current_user.id || @permission_status %>
      <span class="cart-btn">
        <%= render "post_images/addcart", post_image: @post_image %>
      </span>
    <% end %>
    <% unless @introduction.blank? %>
      <span class="image-int">
        <i class="far fa-comment-alt"></i>
        <%= @introduction %>
      </span>
    <% end %>
    <% if @post_image.user_id == current_user.id %>
      <div class="edit-btn">
        <span><%= link_to "編集", edit_post_image_path(@post_image) %></span>
        <span><%= link_to "削除", post_image_path(@post_image), method: :delete %></span>
      </div>
    <% end %>
    <br><button class="post-comment btn btn-default">コメントする</button>
    <!-- ↓コメント投稿のモーダルウィンドウ↓-->
    <div class="post-comment-whitedisplay">
      <div class="post-comment-form">
        <i class="fas fa-times post-comment-close"></i>
        <%= form_for [@post_image, @new_post_comment] do |f| %>
          <div class="form-group">
            <%= f.text_area :comment, class:"fa form-control", placeholder: "\uf075コメント入力" %>
          </div>
          <div class="form-group">
            <%= f.submit "送信", class:"btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ↑コメント投稿のモーダルウィンドウ↑-->
  </div>
</div>