<div class="whitedisplay">
  <div class="close-btn">
    <%= link_to request.referer do %>
      <i class="fas fa-times"></i>
    <% end %>
  </div>
  <div class="post-image-show">
    <%= attachment_image_tag @post_image, :image %>
  </div>
  <div class="image-detail">
    <span class="favorites-btn">
      <%= render "post_images/favorite", post_image: @post_image %>
    </span>
    <% if @post_image.user_id == current_user.id || @permission_status %>
      <span class="cart-btn">
        <%= render "post_images/addcart", post_image: @post_image %>
      </span>
    <% end %>
    <% unless @introduction.blank? %>
      <span class="image-int">
        <i class="far fa-comment"></i>
        <%= @introduction %>
      </span>
    <% end %>
    <% if @post_image.user_id == current_user.id %>
      <div class="edit-btn">
        <span><%= link_to "編集", edit_post_image_path %></span>
        <span><%= link_to "削除", post_image_path, method: :delete %></span>
      </div>
    <% end %>
  </div>
</div>