<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>Wemory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav class="header-nav">
          <div class="nav-logo">
            <%= link_to "wemory", top_path %>
          </div>
          <div class="nav-user">
            <span><i class="fas fa-user"></i><%= current_user.name %>さん</span>
          </div>
          <div class="nav-items">
            <%= link_to "投稿一覧", post_images_path, class:"nav-item" %>
            <%= link_to "投稿", new_post_image_path, class:"nav-item" %>
            <span class="p-nav-item">メニュー
              <%= link_to "カテゴリー", new_category_path, class:"child-nav-item1" %>
              <%= link_to "配送先設定", new_shipping_path, class:"child-nav-item2" %>
              <%= link_to "招待", search_path, class:"child-nav-item3" %>
              <%= link_to "カート", cart_images_index_path, class:"child-nav-item4" %>
              <%= link_to "注文履歴", top_path, class:"child-nav-item5" %>
            </span>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-item" %>
          </div>
        </nav>
      <% else %>
        <nav class="header-nav">
          <div class="nav-logo">
            <%= link_to "wemory", top_path %>
          </div>
          <div class="nav-items">
            <%= link_to "お問い合わせ", new_user_session_path, class:"nav-item" %>
            <%= link_to "会員登録", new_user_registration_path, class:"nav-item" %>
            <%= link_to "ログイン", new_user_session_path, class:"nav-item" %>
          </div>
        </nav>
      <% end %>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
